doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Personal - Portfolio

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5.pb-5
                    .row.gx-5.align-items-center
                        .col-xxl-5
                            // Header text content
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4
                                    .text-uppercase Design &middot; Development &middot; Services
                                .fs-3.fw-light.text-muted Hello There, I'm glad you're here
                                h1.display-3.fw-bolder.mb-5
                                    span.text-gradient.d-inline My Name is Ntuthuko Dhlamini
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-primary.btn-lg.px-5.py-3.me-sm-3.fs-6.fw-bolder(href='resume.html') Resume
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='projects.html') Projects
                        .col-xxl-7
                            // Header profile picture
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary
                                    // TIP: For best results, use a photo with a transparent background like the demo example below
                                    // Watch a tutorial on how to do this on YouTube (link)
                                    img.profile-img(src='assets/Profile1.png', alt='...')
                                    .dots-1
                                        include includes/svg-dots.pug
                                    .dots-2
                                        include includes/svg-dots.pug
                                    .dots-3
                                        include includes/svg-dots.pug
                                    .dots-4
                                        include includes/svg-dots.pug

            // About Section
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                h2.display-5.fw-bolder
                                    span.text-gradient.d-inline About Me
                                p.lead.fw-light.mb-4 My name is Ntuthuko Dhlamini and I am a Fullstack Software Developer/Software Engineer and Microsoft Certified Security Engineer.
                                p.text-muted I’m an ICT graduate and Web Developer with expertise in DevOps, Cybersecurity, and Full-stack development. I specialize in building visually appealing, functional websites using JavaScript, MVC .NET, and Flask with Python, while ensuring seamless user experiences through DOM manipulation. I work with various databases, including SQL and NoSQL, to develop dynamic, data-driven applications. Collaborating with designers and clients to bring ideas to life is something I truly enjoy, and I’m committed to delivering high-quality results. I'm passionate about growing in the tech industry, especially in areas like automation, security, and infrastructure. In my free time, I love spending time with family and friends.
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a.text-gradient(href="https://twitter.com/1014smokey") 
                                        i.bi.bi-twitter
                                    a.text-gradient(href="https://www.linkedin.com/in/ntuthuko-dhlamini/") 
                                        i.bi.bi-linkedin
                                    a.text-gradient(href="https://github.com/SMOKEY1014") 
                                        i.bi.bi-github

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
