doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Portfolio | Projects

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8


                            .card.mb-4.w-100
                                img.card-img-top(src="../assets/geminiai.png", alt="...")
                                .card-body
                                    h5.card-title Gemini AI Clone
                                    p.card-text Built a fully responsive AI-powered web interface using ReactJS. Implemented state management with Redux for efficient data handling. Designed and developed a Flask-based REST API for backend functionality. Integrated OpenAI's API to handle AI model requests and responses. Connected front-end and back-end via secure RESTful endpoints. Conducted API testing with Postman to ensure reliability and performance. Deployed the application using Docker for containerized development
                                    a.btn.btn-primary(href='https://smk-gemini-ai.onrender.com/') Preview
                                    a.btn.btn-primary(href='') Source code

                            .card.mb-4.w-100
                                img.card-img-top(src="../assets/hotel.png", alt="...")
                                .card-body
                                    h5.card-title Hotel Booking App
                                    p.card-text Created a responsive user interface using ReactJS based on Figma designs. Implemented state management with React Hooks and Context API. Integrated Google Maps API for location-based listings. Built reusable components for listings, bookings, and user profiles. Connected the front-end with a RESTful API for dynamic data fetching. Utilized Git for version control and collaborative development. Technologies Used: HTML, CSS, JavaScript, React, Node.js, Google Maps API, Git
                                    a.btn.btn-primary(href='https://airbnb-yarn.onrender.com/') Preview
                                    a.btn.btn-primary(href='') Source code

                            .card.mb-4.w-100
                                img.card-img-top(src="../assets/note.png", alt="...")
                                .card-body
                                    h5.card-title Note Taking App
                                    p.card-text Built a fully responsive AI-powered web interface using ReactJS. Implemented state management with Redux for efficient data handling. Designed and developed a Flask-based REST API for backend functionality. Integrated OpenAI's API to handle AI model requests and responses. Connected front-end and back-end via secure RESTful endpoints. Conducted API testing with Postman to ensure reliability and performance. Deployed the application using Docker for containerized development
                                    a.btn.btn-primary(href='https://smk-googlekeep.netlify.app/') Preview
                                    a.btn.btn-primary(href='../assets/note.png') Source code

                            .card.mb-4.w-100
                                img.card-img-top(src="../assets/tic-tac-toe.png", alt="...")
                                .card-body
                                    h5.card-title Gemini AI Clone
                                    p.card-text Built a fully responsive AI-powered web interface using ReactJS. Implemented state management with Redux for efficient data handling. Designed and developed a Flask-based REST API for backend functionality. Integrated OpenAI's API to handle AI model requests and responses. Connected front-end and back-end via secure RESTful endpoints. Conducted API testing with Postman to ensure reliability and performance. Deployed the application using Docker for containerized development
                                    a.btn.btn-primary(href='https://smk-tictactoe.netlify.app/') Preview
                                    a.btn.btn-primary(href='') Source code

                            .card.mb-4.w-100
                                img.card-img-top(src="../assets/youtube.png", alt="...")
                                .card-body
                                    h5.card-title Gemini AI Clone
                                    p.card-text Built a fully responsive AI-powered web interface using ReactJS. Implemented state management with Redux for efficient data handling. Designed and developed a Flask-based REST API for backend functionality. Integrated OpenAI's API to handle AI model requests and responses. Connected front-end and back-end via secure RESTful endpoints. Conducted API testing with Postman to ensure reliability and performance. Deployed the application using Docker for containerized development
                                    a.btn.btn-primary(href='https://smk-youtube.netlify.app/') Preview
                                    a.btn.btn-primary(href='') Source code

                            

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build something together
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
