doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Portfolio | Projects

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Gemini Ai Clone
                                            a.btn.btn-primary.px-2.py-2(href='https://smk-gemini-ai.onrender.com/').d-inline-block Preview
                                            p Built a fully responsive AI-powered web interface using ReactJS. Implemented state management with Redux for efficient data handling. Designed and developed a Flask-based REST API for backend functionality. Integrated OpenAI's API to handle AI model requests and responses. Connected front-end and back-end via secure RESTful endpoints. Conducted API testing with Postman to ensure reliability and performance. Deployed the application using Docker for containerized development
                                        img.img-fluid(src='../assets/geminiai.png', alt='...')

                            // Project Card 2
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Hotel Booking App
                                            a.btn.btn-primary.px-2.py-2(href='https://airbnb-yarn.onrender.com/').d-inline-block Preview
                                            p Created a responsive user interface using ReactJS based on Figma designs. Implemented state management with React Hooks and Context API. Integrated Google Maps API for location-based listings. Built reusable components for listings, bookings, and user profiles. Connected the front-end with a RESTful API for dynamic data fetching. Utilized Git for version control and collaborative development. Technologies Used: HTML, CSS, JavaScript, React, Node.js, Google Maps API, Git
                                        img.img-fluid(src='../assets/hotel.png', alt='...')

                            // Project Card 3
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Note Taking App
                                            a.btn.btn-primary.px-2.py-2(href='https://smk-googlekeep.netlify.app/').d-inline-block Preview
                                            p Built a note-taking web application using ReactJS for dynamic user interactions. Implemented CRUD functionality to create, edit, delete, and store notes. Used local storage for persistent data saving across sessions. Designed a clean, intuitive UI with React components and CSS for styling. Integrated search and filtering features for better user experience. Technologies Used: HTML, CSS, JavaScript, React, Local Storage, Git
                                        img.img-fluid(src='../assets/note.png', alt='...')

                            // Project Card 4
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Tic-Tac-Toe Game
                                            a.btn.btn-primary.px-2.py-2(href='https://smk-tictactoe.netlify.app/').d-inline-block Preview
                                            p Built a fully interactive Tic-Tac-Toe game using HTML, CSS, and JavaScript. Added background music and sound effects for an engaging user experience. Implemented game logic to track player turns, detect win/loss conditions, and reset the game. Designed a responsive layout to work seamlessly across devices. Technologies Used: HTML, CSS, JavaScript, Audio API, Git
                                        img.img-fluid(src='../assets/tic-tac-toe.png', alt='...')

                            // Project Card 5
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder YouTube Clone 
                                            a.btn.btn-primary.px-2.py-2(href='https://smk-youtube.netlify.app/').d-inline-block Preview
                                            p Created a responsive video-sharing platform using ReactJS for dynamic content rendering. Integrated a video player component for seamless playback and user interaction. Developed a search functionality to filter videos by title and category. Connected the front-end with a RESTful API for data fetching and management. Technologies Used: HTML, CSS, JavaScript, React, Node.js, RESTful API, Git
                                                 

                                        img.img-fluid(src='../assets/youtube.png', alt='...')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build something together
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
